
.bannerArteyAmarte    {
    width: 100vw;
    @media (min-width: 100px) {
    height: 330vh;}
    @media (min-width: 480px) {
        height: 260vh;}
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    display: flex;


    .arteBack{
        background-image: url(../imagenes/arteBack.jpeg);
        background-size: cover;
        z-index: -2;
        width: 100%;
        height: 260vh;
        position: absolute;
        opacity: 0.5;
    }
    
    @media (min-width: 100px) {
        .fondoArteyAmarteContainer   {
            margin-top:10vh;
            margin-left:1vw;
            width: 98vw;
            height: 47vh;
            background-position: center center;
            border-top-left-radius: 10vw;
            border-top-right-radius: 10vw;
            opacity: 0.9;
            position: absolute;
            z-index: -1;
            background-color:rgba(0, 0, 0, 0.863);
    
            }
    }

    @media (min-width: 480px) {
    .fondoArteyAmarteContainer   {
        margin-top:10vh;
        margin-left:5vw;
        width: 90vw;
        height: 38vh;
        background-position: center center;
        border-top-left-radius: 10vw;
        border-top-right-radius: 10vw;
        opacity: 0.9;
        position: absolute;
        z-index: -1;
        background-color:rgba(0, 0, 0, 0.863);

        }
    }


    .arteyAmarteContainer   {
                            margin-top:10vh;
                            margin-left:5vw;
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            width: 90vw;
                            height: 240vh;
                            background-position: center center;
                            border-radius: 10vw;
                            text-align: center;
                            

        h1{
                                width: 100%;                    
                                height: 18vh;
                                font-size:4vh;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                color:white;
                                
                                } 
                                
        p{
                                    width: 95%;                    
                                    height: 25vh;
                                    font-size:2.5vh;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    flex-direction: column;
                                    color:white;
                                    text-align: justify;
                                                        } 
                                
        }
                                
     

    }


        @media (min-width: 100px) {
            .cajaFlex{
                display: flex;
                flex-direction: column;
                width: 90vw;
                align-items: flex-start;
                justify-content: flex-start;
                padding-left: 1vw;
                margin-bottom: 5vh;
                background-color: rgba(0, 0, 0, 0.561);
                margin-top: 5vh;
                padding-top: 5vh;
                padding-bottom: 30vh;
                border: white 5px solid;
            
                .imagen{
                    height:35vh;
                    width: 82vw;
                    margin-top:5vh;
                    margin-bottom:5vh;
                    border-radius: 20%;
                    transform: perspective(100px) rotateY(4deg);
                    margin-left: 5vw;
            
                }
            
                .carousel{
                        height:25vh;
                        width: 100vw;
                        margin-left: 5vh;
                        margin-top: 3vh;
                }
        }
        
        @media (min-width: 480px) {
            .cajaFlex{
                display: flex;
                flex-direction: row;
                width: 90vw;
                align-items: flex-start;
                justify-content: flex-start;
                padding-left: 1vw;
                margin-bottom: 5vh;
                background-color: rgba(0, 0, 0, 0.561);
                margin-top: 5vh;
                padding-top: 5vh;
                padding-bottom: 5vh;
            
                .imagen{
                    height:42vh;
                    width: 30vw;
                    margin-top:5vh;
                    margin-bottom:5vh;
                    border-radius: 20%;
                    transform: perspective(100px) rotateY(4deg);
                    margin-left: 20vh;
            
                }
            
                .carousel{
                        height: 10vh;
                        margin-left: 5vh;
                        margin-top: 3vh;
                }
        }
    }
}

