
.bannerFelicidad    {
    width: 100vw;
    height: 200vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    display: flex;
    
    
  
      .bannerFelicidad--fondo0  {
        background-image: url(../imagenes/questions.jpeg);
        background-size: cover;
        z-index: -2;
        width: 100%;
        height: 200vh;
        position: absolute;
        opacity: 0.5;
    }
  
      .bannerFelicidad--fondo1   {
        margin-top:10vh;
        margin-left:5vw;
        width: 90vw;
        height: 180vh;
        background-position: center center;
        border-top-left-radius: 10vw;
        border-top-right-radius: 10vw;
        opacity: 0.6;
        position: absolute;
        z-index: -1;
        background-color: black;
        }
  
        .bannerFelicidadContainer   {
            margin-top:10vh;
            margin-left:5vw;
            padding-left: 10vh;
            padding-right: 10vh;
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 90vw;
            height: 180vh;
            background-position: center center;
            border-radius: 10vw;
            text-align: justify;
            color: white;
            }
  
  
  .bannerFelicidadContainer h1{
              width: 100%;                    
              height: 18vh;
              font-size:4vh;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              color: white;
              
              } 
              
  .bannerFelicidadContainer p{
                              width: 100%;                    
                              height: 25vh;
                              font-size:2.5vh;
                              } 
  
  .bannerFelicidadContainer__testimonio{
                              width: 100%;                    
                              font-size:3.5vh;
                              text-align: center;
                              margin: 0;
                              background-color: white;
                              color: black;
                              opacity: 0.8;
                              margin-bottom: 10vh;
                              padding-top: 2vh;
                              padding-bottom: 2vh;
                              } 
                            }