
.index_movimiento{
    position: relative;
    background-image: url(../imagenes/index_back.png);
    background-size: 120%;
    animation: movimiento 15s ease-in-out infinite alternate-reverse;
}
.miviaje_movimiento{
    position: relative;
    background-image: url(../imagenes/miViajeBack.png);
    background-size: 150%;
    animation: movimiento 20s ease-in-out infinite alternate-reverse;
}

.trabajo_movimiento{
    position: relative;
    background-image: url(../imagenes/workBack.jpeg);
    background-size: 130%;
    animation: movimiento 20s ease-in-out infinite alternate-reverse;
}


.contacto_movimiento{
    position: relative;
    background-image: url(../imagenes/contactBack.jpeg);
    background-size: 150%;
    animation: movimiento 15s ease-in-out infinite alternate-reverse;
}


@keyframes movimiento{
    from{
        background-position: top left;
    }to{
        background-position: right;
    }
}



/* Menu de navegación -header*/
header  {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
    transition: 1s linear;
    overflow: hidden;
    position: relative;
   
    


    @media only screen and (min-width: 100px) /* Menu de navegación para dispositivos con un ancho mayor a 100px*/{
    .background{
        position:absolute;
        z-index: -1;
        overflow: hidden;
        width: 300vw;
        height: 100vh;
        left: -200vw;
  

    
        }
       
    }

    @media only screen and (min-width: 768px) /* Menu de navegación para dispositivos con un ancho mayor a 768px*/{
    .background{
      position:absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
    }
    }

    
    // Animaciones del fondo
    .animate__pulse   { --animate-duration: 6s;}
    .animate__shakeX   { --animate-duration: 20s;}

    nav {
        display:flex;
        justify-content: flex-start;
        width: 100vw; /* ancho de pantalla 60% */
        height: 10%;
        text-decoration: none;
        
        
        @media only screen and (min-width: 100px) /* Menu de navegación para dispositivos con un ancho mayor a 100px*/{
        .ul--item  {
            width: 100%; 
            height: 80%;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            font-size: 3.5vw;
            }
        }
        
        @media only screen and (min-width: 768px) /* Menu de navegación para dispositivos con un ancho mayor a 768px*/{
            .ul--item  {
                width: 80vw; /* ancho de pantalla 60% */
                height: 80%;
                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                font-size: 3vh;
                }
            }
                

            .ul--item li:hover{
                        /* margin-bottom:0.5vw; */
                        border-bottom: solid 2px #014D40;
                        color:$gris_negro;  
                        }
            
            .ul--item li a {
                    color:$gris_texto;
                    text-decoration: none;
                    }
            
            .ul--item li a .light{
                color:$verde_claro;
                }

                .ul--item li .light:hover{
                    color:white;
                    opacity: 0.8;
                    }

            .ul--item li a:hover   {
                color:$gris_negro;  
                            }
        }


        @media only screen and (min-width: 100px){
        .header__changeLanguage {
                        color:$gris_negro;
                        width: 40vw;
                        height: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        
                        
            .light  {color:$verde_claro;}      

            p   {
                                color:$gris_negro;
                                margin:0;
                                margin-right: 1vw;
                                font-size: 1.5vh;
                                }
            p a   {
                                    color:$gris_negro;
                                    text-decoration: none;
                                    }
                                    
            

            .header__changeLanguage--linkedin_image{
              height: 4vh;
              margin-right: 1vh;
              margin-left: 1vh;
              border-radius: 50%;
              opacity: 0.9;
            }
        }
        }

        @media only screen and (min-width: 768px){
            .header__changeLanguage {
                            color:$gris_negro;
                            width: 40vw;
                            height: 80%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            
                            
                .light  {color:$verde_claro;}      
    
                p   {
                                    color:$gris_negro;
                                    margin:0;
                                    margin-right: 1vw;
                                    font-size: 2vh;
                                    }
                p a   {
                                        color:$gris_negro;
                                        text-decoration: none;
                                        }
                                        
                
    
                .header__changeLanguage--linkedin_image{
                  height: 4vh;
                  margin-right: 4vh;
                  margin-left: 3vh;
                  border-radius: 50%;
                  opacity: 0.9;
                }
            }
            }

    .header__presentacion   {
                    height: 70%;
                    @include elementos_center;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 20%;
                    
                .header__presentacion--darkh1     {font-size: 5vh; color:$gris_negro;}
                .header__presentacion--lighth1     {font-size: 5vh; color:$verde_claro;}
        
                .header__presentacion--darkh2    {font-size: 3vh; color:$gris_texto;opacity: 0.6;}
                .header__presentacion--lighth2     {font-size: 3vh; color:$gris_texto;opacity: 0.6;}
    }

    /*Index*/
    @media only screen and (min-width: 100px){
    .header__frasePortada   {
                    height: 20%;
                    background-color: #199473bb;;
                    @include elementos_center;
                    flex-direction: column;
                    font-size: 2vh;
                    border-top-right-radius:60%;
                    border-top-left-radius:60%;
                    }

        .header__frasePortada--primerRenglon  {
                        font-size: 110%;
                        color:$blanco_verdoso;
                        margin-top:1vw;
                        margin-bottom: 1vw;
                        }
        .header__frasePortada--pRelleno   {
                    background-color: white;
                    font-size: 130%;
                    color: $verde_fondo_string;
                    padding-left: 0.5vw;
                    padding-right: 0.5vw;
                    }
        .header__frasePortada--pRelleno p  {
          margin: 0;
          }
    }

    @media only screen and (min-width: 768px){
        .header__frasePortada   {
                        height: 20%;
                        @include elementos_center;
                        flex-direction: column;
                        font-size: 2vh;
                        border-top-right-radius:60%;
                        border-top-left-radius:60%;
                        }
    
            .header__frasePortada--primerRenglon  {
                            font-size: 150%;
                            color:$blanco_verdoso;
                            margin-top:1vw;
                            margin-bottom: 1vw;
                            }
            .header__frasePortada--pRelleno   {
                        background-color: white;
                        font-size: 150%;
                        color: $verde_fondo_string;
                        padding-left: 0.5vw;
                        padding-right: 0.5vw;
                        }
            .header__frasePortada--pRelleno p  {
              margin: 0;
              }
        }


    /*miViaje*/
    .header__frasePortadaMiViaje   {
        height: 20%;
        background-color: $gris_texto;
        @include elementos_center;
        flex-direction: column;
        font-size: 1.5vh;
        @media (min-width: 100px) {
            border-top-right-radius:20%;
            border-top-left-radius:20%;
        }
        @media (min-width: 480px) {
            border-top-right-radius:60%;
            border-top-left-radius:60%;
        }
        
        opacity: 0.85;
        width: 100%;
        }

        .header__frasePortadaMiViajeOpciones{
            display: flex;
            flex-direction: row;
            
        }

        .header__frasePortadaMiViajeOpciones p{
            font-size: 2.5vh;
            padding: 2vh;
            margin-right: 6vh;
            color: white;
            opacity: 0.5;
        }
        
        .header__frasePortadaMiViajeOpciones p:hover{
            background-color: white;
            color: $verde_fondo_string;
            opacity:1;
           
        }
        
        /*Trabajo*/
        .header__fraseTrabajo   {
            height: 20%;
            background-color: #D9E2EC;
            @include elementos_center;
            flex-direction: column;
            font-size: 1.5vh;
            border-top-right-radius:60%;
            border-top-left-radius:60%;
            opacity: 0.8;
            color: blacK;
            font-size: 3vh;
            }

            .header__fraseTrabajo .pRelleno   {
                padding-left: 0.5vw;
                padding-right: 0.5vw;
                }
                
                @media (min-width: 100px) {
                .header__sobreMi   {
                    height: 60%;
                    background-color: #003E6B;
                    @include elementos_center;
                    flex-direction: column;
                    font-size: 2.2vh;
                    border-top-right-radius:20%;
                    border-top-left-radius:20%;
                    opacity: 0.8;
                    display: flex;
                    text-align: justify;
                    
                        item{
                            color: white;
                            margin:1vh;
                            padding: 1vh;
                            opacity: 0.8;
                        }

                    }
                }
                @media (min-width: 480px) {
                .header__sobreMi   {
                    height: 40%;
                    background-color: #003E6B;
                    @include elementos_center;
                    flex-direction: column;
                    border-top-right-radius:20%;
                    border-top-left-radius:20%;
                    opacity: 0.8;
                    color: white;
                    font-size: 3vh;
                    display: flex;
                    text-align: justify;
                    
                        item{
                            margin:1vh;
                            padding: 1vh;
                            opacity: 0.8;
                        }

                    }
                }

            }   
#ingles, #espaniol{
    cursor: pointer;
}

.header__changeLanguage img{
    height: 2.5vh;
}

#ingles{
 margin-right: 1vh;   
}

#espaniol{
    margin-left: 1vh;   
   }

   .home{
    height: 4.2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
}