*   { 
  padding:0; 
  margin:0; 
  box-sizing: border-box;
  list-style:none;
  text-decoration: none;
  }
a{
color: black;
}
/*Cuerpo de la web*/

body    {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Nixie One';
      }
